/* .......image style and size section  */
img{
height: 100%;
width: 100%;
}
.row{
 height: 400px;
margin-bottom: 10px;

}
.second-row{

    display: flex;
    gap: 5px;
}
.second-row > div{
 flex: 1;



}
@media screen and (max-width:576px){
    .second-row{

       flex-direction: column;




}
}